body{
    background:#ffffff;
}

#wrap {
    width:850px;
    height:812px;
    margin:0 auto;
}

#left {
    float:left;
    width:512px;
    margin:0;
    padding:0;
}

#right {
    float:right;
    width:292px;
    margin:0;
    margin-top: 20px;
    padding:0;
    border: 1px solid;
}

#header {
    height: 300px;
}

#gjs-loader-images {
    width: 0px;
    height: 32px;
    background: url('loading.png');
}

#gjs-loader-sounds {
    width: 0px;
    height: 32px;
    background: url('loading.png');
}

#gjs-canvas {
    width: 512px;
    height: 512px;
}

#chat-log {
    padding:5px;
    overflow: auto;
    height:730px;
}

#chat-input {
    padding:12px;
}
